.form{
    width: 400px;
    margin: auto;
}

.upload-icon:hover .icon-upload{
    font-size: 23px;
}

.icuser{
    padding-left: 36%;
}

@media only screen and (max-width:500px){
    .icuser{
        padding-left: 12%;
    }    
    .form{
        width: 350px;
    }
}

.bg{
    background-color: #343a40;
    min-height: 100vh;
}

h1,h2{
    color: white;
}

.guest-login{
    display: flex;
    align-items: center;
    justify-content: center;
}

